<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheets" href='/public/stylesheets/style.css'>
    <title>My Tech Blog</title>
</head>

<body>
    <div class='wrapper'>
        <header>
            <h1>
                <a href='/'>My Tech Blog</a>
            </h1>
            <nav class='navbar' style='width: 100% justify-content: center'>

                <a href='/'>Home</a>
                <a href='/dashboard'>Dashboard</a>
                <button id='logout' class='btn-logout'>Logout</button>

            </nav>
        </header>
        <main class='col-auto'>
            {{{ body }}}
        </main>
        <footer class='footer' style='flex-row justify-center'>
            <a href='/dashboard/add'>New Post</a>
        </footer>
    </div>
</body>

<script src="/../javascript/logout.js"></script>

</html>