<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheets" href='/public/stylesheets/style.css'>

    <title>My Tech Blog</title>
</head>

<body>
    <div class='wrapper'>
        <header>
            <h1>
                <a href="/">My Tech Blog</a>
            </h1>
            <nav class="navbar" style='width: 100% justify-content: center'>

                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/post-group">View Posts</a>
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
                {{!-- <button id="logout" class="btn-logout">Logout</button> --}}
            </nav>
        </header>
        <main class='col-auto'>
            {{{ body }}}
        </main>
        <footer class='flex-row justify-center'>
            &copy; Likica says 'Come Back Again!'😀
        </footer>
    </div>

</body>

</html>
{{!--
<script src="/public/javascript/login.js"></script> --}}

{{!--
<script src="/public/javascript/logout.js"></script> --}}